@media only screen and (max-width: $xs) {
    .container {
        padding: 0 15px;
        max-width: 100%; 
    }

    .px_md_0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
} 

@media only screen and (min-width: $sm) {
    .container {
        padding: 0 15px;
        max-width: 100%; 
    }

    .px_md_0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (min-width: $md) {
    .container {
        padding: 0 30px;
        max-width: 100%; 
    }

    .px_md_0 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media only screen and (min-width: $lg) {
    .container {
        padding: 0 30px;
        max-width: 100%; 
    }

    .px_md_0 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media only screen and (min-width: $xl) {
    .container {
        padding: 0 30px;
        max-width: 1200px; 
    }

    .px_md_0 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media only screen and (min-width: $xxl) {
    .container {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1272px; 
    }

    .px_md_0 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    
}

section {
    width: 100%;
}

.row>* {
    width: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.sm-svg {
    width: 14px;
    height: 14px;
}

.md-svg {
    width: 16;
    height: 16px;
}

.svg-hover:hover {
    background-color: $iconHover;
}

.divider {
    width: 1px;
    height: 12px;
    border-radius: 2px;
    background-color: rgba(137,150,174,.2);
} 

.text_uppercase {
    text-transform: uppercase;
    font-feature-settings: "case" on;
}

.btn {
    border: 0;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    padding: 12px 28px;
}

.flex_sh_gr {
    flex: 1 1;
}

