@media only screen and (max-width: $xs) {
    .header {
        &__search_side_content {
            max-width: 300px;
            height: 48px;
        }

        &__logo {
            padding-left: 8px;
            padding-right: 8px;

            img {
                width: 36px;
            }
        }

        &__search_input {
            padding-right: 36px;
        }

        &__search_submit {
            right: 4px;
        }

        &__img_upload {
            right: 37px;

            &::after {
                display: none;
            }
        }

        &__burger { 
            padding: 18px 8px;
        }
    }
} 

@media only screen and (min-width: $sm) {
    .header {
        &__search_side_content {
            max-width: 300px;
            height: 48px;
        }

        &__logo {
            padding-left: 8px;
            padding-right: 8px;

            img {
                width: 36px;
            }
        }

        &__search_input {
            padding-right: 36px;
        }

        &__search_submit {
            right: 4px;
        }

        &__img_upload {
            right: 37px;

            &::after {
                display: none;
            }
        }

        &__burger { 
            padding: 18px 8px;
        }
    }
}

@media only screen and (min-width: $md) {
    .header {
        &__search_side_content {
            max-width: 300px;
            height: 48px;
        }

        &__logo {
            padding-left: 22px;
            padding-right: 13px;

            img {
                width: 42px;
            }
        }

        &__search_input {
            padding-right: 100px;
        }

        &__search_submit {
            right: 12px;
        }

        &__img_upload {
            right: 62px;

            &::after {
                display: block;
            }
        }

        &__burger { 
            padding: 10px 8px;
        }
    }
}

@media only screen and (min-width: $lg) {
    .header {
        &__search_side_content {
            max-width: 400px;
            height: 64px;
        }

        &__logo {
            padding-left: 22px;
            padding-right: 13px;

            img {
                width: 42px;
            }
        }

        &__search_input {
            padding-right: 100px;
        }

        &__search_submit {
            right: 12px;
        }

        &__img_upload {
            right: 62px;

            &::after {
                display: block;
            }
        }

        &__burger { 
            padding: 10px 8px;
        }
    }
}

@media only screen and (min-width: $xl) {
    .header {
        &__search_side_content {
            max-width: 450px;
            height: 64px;
        }

        &__logo {
            padding-left: 22px;
            padding-right: 13px;

            img {
                width: 42px;
            }
        }

        &__search_input {
            padding-right: 100px;
        }

        &__search_submit {
            right: 12px;
        }

        &__img_upload {
            right: 62px;

            &::after {
                display: block;
            }
        }

        &__burger { 
            padding: 10px 8px;
        }
    }
}

@media only screen and (min-width: $xxl) {
    .header {
        &__search_side_content {
            max-width: 732px;
            height: 64px;
        }

        &__logo {
            padding-left: 22px;
            padding-right: 13px;

            img {
                width: 42px;
            }
        }

        &__search_input {
            padding-right: 100px;
        }

        &__search_submit {
            right: 12px;
        }

        &__img_upload {
            right: 62px;

            &::after {
                display: block;
            }
        }

        &__burger { 
            padding: 10px 8px;
        }
    }
}

.header {
    height: 100px;

    &__search_side {
        flex: 1 1;
    }

    &__search_side_content {
        position: relative;
        background-color: $mainYellow;
        padding: 4px;
        border-radius: 32px;
        transition: .3s ease-in-out;
    }

    &__logo {
        img {
            height: 20px;
        }
    }

    &__search_wrapper {
        background-color: #fff;
        border-radius: 28px;
        flex-grow: 1;
    }

    &__search_input {
        font-size: 12px;
        border-radius: 28px;
        outline: none;
        border: 0;
        text-indent: 10px;
    }

    &__search_submit {
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        transition: .2s ease-in-out;
    }

    &__img_upload {
        width: 32px;
        height: 32px;
        top: 50%;

        border-radius: 50%;
        border: 0;
        transform: translateY(-50%);
        background-color: transparent;
        transition: .2s ease-in-out;

        img {
            width: 32px;
            height: 32px;
            top: 0;
            left: 0;
            cursor: pointer;
        }

        &::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 24px;
            border-radius: 2px;
            background-color: rgba(137, 150, 174, .25);
        }
    }

    &__add_statement_btn {
        border-radius: 20px;
        height: 40px;
        max-width: 116px;
        padding: 0 16px 0 12px;
        line-height: 17px;
        border: 2px solid #f1f3f6;
        background-color: transparent;
        transition: .3s ease-in-out;

        span {
            font-size: 12px;
            font-feature-settings: "case" on;
        }

        &:hover {
            border: 2px solid $mainYellow;
        }
    }

    &__navbar_item {
        a {
            transition: .2s ease-in-out;
        }
    }

    &__user_profile_svg {
        width: 40px;
        height: 40px;
        border: 2px solid $mainYellow;
        cursor: pointer;
    }

    &__user_profile_text {
        span {
            color: $blackText;
            font-size: 13px;
            cursor: pointer;
        }
    }

    &__burger {
        transition: .2s ease-in-out;
        cursor: pointer;

        img {
            width: 16px;
            height: 12px;
        }
    }
}