@media only screen and (max-width: $xs) {
    .main_section {
        height: auto;

        &__filter_data {
            width: 100%;
            height: auto;
            padding: 0;
            background-color: transparent;
        }

        &__slider_box {
            padding: 0;

            a {
                width: 100%;              
            }
        }
    }

    .search_more { 
        &__tabs {
            margin-top: 30px;
        }

        &__option {
            width: 380px;
        }
    }

    .tradeIn {
        &__gif {
            height: 150px;
            margin-bottom: 0;
        }
    
        &__content {
            padding: 24px;
            
            h2 {
                font-size: 18px;
            }

            a {
                width: 100%;
            }
        }
    }

    .categories {   
        &__item {
            width: 175px;
        }
    }

    .sales { 
        &__block {
            width: 400px;
        }
    }
} 

@media only screen and (min-width: $sm) {
    .main_section {
        height: auto;

        &__filter_data {
            width: 100%;
            height: auto;
            padding: 0;
            background-color: transparent;
        }

        &__slider_box {
            padding: 0;

            a {
                width: 100%;
            }
        }
    }

    .search_more { 
        &__tabs {
            margin-top: 30px;
        }

        &__option {
            width: 400px;
        }
    }

    .tradeIn {
        &__gif {
            height: 150px;
            margin-bottom: 20px;
        }
    
        &__content {
            padding: 30px 24px;

            h2 {
                font-size: 18px;
            }

            a {
                width: 100%;
            }
        }
    }

    .categories {   
        &__item {
            width: 175px;
        }
    }

    .sales { 
        &__block {
            width: 400px;
        }
    }
}

@media only screen and (min-width: $md) {
    .main_section {
        height: 600px;

        &__filter_data {
            width: 100%;
            height: 100%;
            padding: 40px;
            background-color: #fff;
        }

        &__slider_box {
            padding: 32px 20px;

            a {
                width: 185px;
            }
        }
    }

    .search_more { 
        &__tabs {
            margin-top: 0;
        }

        &__option {
            width: 500px;
        }
    }

    .tradeIn {
        &__gif {
            height: 320px;
        }
    
        &__content {
            padding: 0 24px 0 24px;

            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
    }

    .categories {   
        &__item {
            width: 175px;
        }
    }

    .sales { 
        &__block {
            width: 400px;
        }
    }
}

@media only screen and (min-width: $lg) {
    .main_section {
        height: 600px;
   
        &__filter_data {
            width: calc(100% - 324px);
            height: 100%;
            padding: 40px;
            background-color: #fff;
        }

        &__slider_box {
            padding: 32px 40px;

            a {
                width: 185px;
            }
        }
    }

    .search_more { 
        &__tabs {
            margin-top: 0;
        }

        &__option {
            width: 380px;
        }
    }

    .tradeIn {
        &__gif {
            height: 320px;
        }
    
        &__content {
            padding: 0 24px 0 24px;
            
            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
        
    }

    .categories {   
        &__item {
            width: 175px;
        }
    }

    .sales { 
        &__block {
            width: 400px;
        }
    }
}

@media only screen and (min-width: $xl) {
    .main_section {
        height: 600px;

        &__filter_data {
            width: calc(100% - 324px);
            height: 100%;
            padding: 40px;
            background-color: #fff;
        }

        &__slider_box {
            padding: 32px 30px;

            a {
                width: 170px;
            }
        }
    }

    .search_more { 
        &__tabs {
            margin-top: 0;
        }

        &__option {
            width: 380px;
        }
    }

    .tradeIn {
        &__gif {
            height: 320px;
        }
    
        &__content {
            padding: 0 24px 0 24px;

            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
    }

    .categories {   
        &__item {
            width: 175px;
        }
    }

    .sales { 
        &__block {
            width: 375px;
        }
    }
}

@media only screen and (min-width: $xxl) {
    .main_section {
        height: 600px;

        &__filter_data {
            width: calc(100% - 324px);
            height: 100%;
            padding: 40px;
            background-color: #fff;
        }

        &__slider_box {
           padding: 32px 40px;
           
            a {
                width: 185px;
            }
        }
    }

    .search_more { 
        &__tabs {
            margin-top: 0;
        }

        &__option {
            width: 400px;
        }
    }

    .tradeIn {
    
        &__gif {
            img {
                height: 320px;
            }
        }
    
        &__content {
            padding: 0 80px 0 88px;

            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
    }

    .categories {   
        &__item {
            width: 185px;
        }
    }

    .sales { 
        &__block {
            width: 400px;
        }
    }
}


.main_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f3f6;
}

.catalog {
    height: 58px;
    margin-top: 2px;

    &__button {
        padding: 10px 8px;
        outline: none !important;
        box-shadow: none !important;
    }

    &__text {
        color: #a4aec1;
        font-size: 14px;
    }

    &__swiper {
        height: 58px;

        a {
            color: $blackText;
            font-size: 12px;
            text-decoration: none;
        }

        div {
            margin-right: 36px;
        }
    }

    &__sales_btn {
        position: relative;
        color: #ff3b30;
        background-color: #ffe9e8;
        border-radius: 32px;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgba(223,166,166,.8);
            color: #ff3b30;
        }
    }

    &__sales_btn_text {
        span {
            font-size: 12px;
        }
    }
}

// Main Section

.main_section {
    &__filter {
        position: absolute;
        width: 300px;
        height: 600px;
        padding: 30px 0 12px;
        background-color: #fff;
        border-radius: 16px;
        z-index: 100;

        li {
            margin: 0 20px 14px 28px;
        }

        &--item {
            a {
                color: $blackText;
                text-decoration: none;

                :hover {
                    color: #4a6cfa;
                    text-decoration: underline;

                    svg {
                        fill: $blackText
                    }
                }
            }

            button {
               padding: 0;
               margin: 12px 0 0 0;
               outline: none !important;
               box-shadow: none !important;
            }
        }

        &--icon {
            margin-right: 10px;
        }
        
        &--text {
            span {
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
            }
        }
    }

    &__slider {
        border-radius: 16px;

        a {
            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__filter_data {
        border-radius: 16px;
    }

    &__slider_box {
        background-color: $iconHover;
        border-radius: 14px;

        a {
            height: 100%;
            min-height: 96px;
            min-width: 170px;
            flex-shrink: 0;
            border-radius: 8px;
            transition-property: transform;
            text-decoration: none;
            transition: .2s ease-in-out;

            h2 {
                color: $blackText;
                font-size: 12px;
                margin-top: 10px;
            }

            &:hover {
                background-color: #e6e6e6 !important;
            }
        }
    }
}

// Search More Section

.search_more {
    margin-top: 56px;

    h2 {
        font-size: 18px;
    }

    &__tabs {
        button {
            max-width: 170px;
            overflow: hidden;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            padding-top: 7px;
            padding-bottom: 7px;

            border-radius: 20px;
            outline: none !important;
            box-shadow: none !important;         
            background-color: rgba(137,150,174,.1);

            &:hover {
                background-color: #fff;
                opacity: .65;
            }
        }

        &--active {
            margin-right: 8px;
            background-color: #fff !important;
        }
    }

    .flex-gap {
        gap: 20px;
        padding-top: 28px;
    }

    &__option {
        padding: 21px;
        border-radius: 16px;
        cursor: pointer;

        &--text {
            max-width: 200px;
            margin-right: 10px;

            font-size: 14px;
            font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 18px;
            white-space: nowrap;
        }

        button {
            transition: .3s ease-in-out;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


// Trade In Section

.tradeIn {
    margin: 56px 0;

    .row {
        border-radius: 24px;
    }

    &__gif {
        img {
            object-fit: contain;
        }
    }

    &__content {
        &--text {
            color: $greyText;
            padding-top: 24px;
            padding-bottom: 36px;
        }

        a {
            color: #fff;
            background-color: $mainYellow;
            border-radius: 8px;

            &:hover {
                color: #fff;
                opacity: .9;
            }
        }
    }
}

// VIP Products Section

.vip_products {
    margin-bottom: 56px;

    &__wrapper {
        padding: 40px 32px;
        background-color: #fff;
        border-radius: 16px;

        &--vip_icon {
            height: 22px;
            padding: 0 7px;
            background-color: $mainYellow;
            border-radius: 11px;
            font-size: 10px;
            font-weight: bold;
        }
    }

    &__wrapper_header {
        a {
            color: #4a6cfa!important;
            font-size: 13px;
            text-decoration: underline;
        }
    }

    &__wrapper_content {
        gap: 24px;
    }

    &__wrapper_item {
        a {
            width: 125px;
            text-decoration: none;
            overflow: hidden;
            display: inherit;

            &:hover {
                div:first-child {
                    color: #4a6cfa !important;
                    text-decoration: underline;
                }

                div:last-child {
                    color: #4a6cfa !important;
                }
            }
        }

        &--img {
            border-radius: 10px;
            width: 125px;
            height: 130px;
            margin-bottom: 18px;

            img {  
                object-fit: cover;
            }
        }

        &--info{          
            div:first-child {
                font-size: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden; 
            }

            div:last-child {
                font-size: 12px;
                color: $greyText;
            }
        }
        
    }
}

// Categories Section

.categories {
    margin-bottom: 56px;

    .row {
        gap: 28px;
    }

    &__item {
        text-decoration: none;
        
        &--img-wrapper {
            width: 184px;
            height: 184px;
            background-color: #fff;
            border-radius: 50%;
            transition: .2s ease-in-out;

            img {
                width: 124px;
                height: 124px;
            }
        }

        &--text {
            span {
                font-size: 13px !important;
            }
        }

        &:hover {
            .categories__item--img-wrapper {
                background-color: $mainYellow;
            }
        }
    }
}

// Sales Section

.sales {
    margin-bottom: 56px;

    &__header {
        h2 {
            font-size: 18px;
        }
    }

    &__content {
        gap: 20px;
        flex-wrap: wrap;
    }

    &__block_images {
        border-radius: 16px;
        padding: 12px;

        & > * {
            padding: 12px;
        }

        &--image {
            height: 120px;
            border-radius: 10px;
            border: 1px solid #f4f4f4;
            cursor: pointer;

            .sales_hover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(39,42,55,.95);
                border-radius: 10px;
                opacity: 0;
                transform: translate3d(0,100%,0);
                transition: .3s ease-in-out;

                div:first-child {
                    line-height: 21px;
                    color: #0ec604;
                }

                div:last-child {
                    position: relative;
                    color: #0ec604;
                    font-size: 12px;
                    line-height: 21px;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        top: 50%;
                        left: 0;
                        background-color: #fff;
                        transform: translateY(-50%);
                    }
                }
            }

            &:hover {
                .sales_hover {
                    opacity: 1;
                    transform: translateZ(0);
                }
            }
        }
    }

    &__sm_card {
        border-radius: 10px;
        
        img {
            object-fit: cover;
        }
    }

    &__block_info {
        margin-top: 20px;
        
        & > div {
            margin-bottom: 12px;
        }

        &--green {
            padding: 4px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 14px;
            border-radius: 11px;
            background-color: #0ec604;
        }

        a {
            font-size: 13px;
            line-height: 21px;
            color: #4a6cfa!important;
        }
    }
}