@media only screen and (max-width: $xs) {
    .main_section {
        height: auto;

        &__filter_data {
            background-color: transparent;
            width: 100%;
            height: auto;
            padding: 0;
        }

        &__slider_box {
            padding: 0;

            a {
                width: 100%;
                
            }
        }
    }

    .tradeIn {
        &__gif {
            height: 150px;
            margin-bottom: 0;
        }
    
        &__content {
            padding: 24px;
            
            h2 {
                font-size: 18px;
            }

            a {
                width: 100%;
            }
        }
    }
} 

@media only screen and (min-width: $sm) {
    .main_section {
        height: auto;

        &__filter_data {
            background-color: transparent;
            width: 100%;
            height: auto;
            padding: 0;
        }

        &__slider_box {
            padding: 0;

            a {
                width: 100%;
            }
        }
    }

    .tradeIn {
        &__gif {
            height: 150px;
            margin-bottom: 20px;
        }
    
        &__content {
            padding: 30px 24px;

            h2 {
                font-size: 18px;
            }

            a {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: $md) {
    .main_section {
        height: 600px;

        &__filter_data {
            background-color: #fff;
            width: 100%;
            height: 100%;
            padding: 40px;
        }

        &__slider_box {
            padding: 32px 20px;

            a {
                width: 185px;
            }
        }
    }

    .tradeIn {
        &__gif {
            height: 320px;
        }
    
        &__content {
            padding: 0 24px 0 24px;

            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
    }
}

@media only screen and (min-width: $lg) {
    .main_section {
        height: 600px;
   
        &__filter_data {
            background-color: #fff;
            width: calc(100% - 324px);
            height: 100%;
            padding: 40px;
        }

        &__slider_box {
            padding: 32px 40px;

            a {
                width: 185px;
            }
        }
    }

    .tradeIn {
        &__gif {
            height: 320px;
        }
    
        &__content {
            padding: 0 24px 0 24px;
            
            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
        
    }
}

@media only screen and (min-width: $xl) {
    .main_section {
        height: 600px;

        &__filter_data {
            background-color: #fff;
            width: calc(100% - 324px);
            height: 100%;
            padding: 40px;
        }

        &__slider_box {
            padding: 32px 30px;

            a {
                width: 170px;
            }
        }
    }

    .tradeIn {
        &__gif {
            height: 320px;
        }
    
        &__content {
            padding: 0 24px 0 24px;

            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
    }
}

@media only screen and (min-width: $xxl) {
    .main_section {
        height: 600px;

        &__filter_data {
            background-color: #fff;
            width: calc(100% - 324px);
            height: 100%;
            padding: 40px;
        }

        &__slider_box {
           padding: 32px 40px;
           
            a {
                width: 185px;
            }
        }
    }

    .tradeIn {
    
        &__gif {
            img {
                height: 320px;
            }
        }
    
        &__content {
            padding: 0 80px 0 88px;

            h2 {
                font-size: 24px;
            }

            a {
                width: 128px;
            }
        }
    }
}


.main_wrapper {
    background-color: #f1f3f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.catalog {
    height: 58px;
    margin-top: 2px;

    &__button {
        padding: 10px 8px;
        outline: none !important;
        box-shadow: none !important;
    }

    &__text {
        color: #a4aec1;
        font-size: 14px;
    }

    &__swiper {
        height: 58px;

        a {
            font-size: 12px;
            color: $blackText;
            text-decoration: none;
        }

        div {
            margin-right: 36px;
        }
    }

    &__sales_btn {
        color: #ff3b30;
        background-color: #ffe9e8;
        position: relative;
        border-radius: 32px;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgba(223,166,166,.8);
            color: #ff3b30;
        }
    }

    &__sales_btn_text {
        span {
            font-size: 12px;
        }
    }
}

// Main Section

.main_section {
    &__filter {
        width: 300px;
        height: 600px;
        padding: 30px 0 12px;
        background-color: #fff;
        border-radius: 16px;
        position: absolute;
        z-index: 100;

        li {
            margin: 0 20px 14px 28px;
        }

        &--item {
            a {
                color: $blackText;
                text-decoration: none;

                :hover {
                    color: #4a6cfa;
                    text-decoration: underline;

                    svg {
                        fill: $blackText
                    }
                }
            }

            button {
               padding: 0;
               margin: 12px 0 0 0;
               outline: none !important;
               box-shadow: none !important;
            }
        }

        &--icon {
            margin-right: 10px;
        }
        
        &--text {
            span {
                font-size: 14px;
                cursor: pointer;
                line-height: 16px;
            }
        }
    }

    &__filter_data {
        border-radius: 16px;
    }

    &__slider_box {
        background-color: $iconHover;
        border-radius: 14px;

        a {
            border-radius: 8px;
            min-height: 96px;
            flex-shrink: 0;
            height: 100%;
            min-width: 170px;
            transition-property: transform;
            text-decoration: none;
            transition: .2s ease-in-out;

            h2 {
                color: $blackText;
                font-size: 12px;
                margin-top: 10px;
            }

            &:hover {
                background-color: #e6e6e6 !important;
            }
        }
    }
}

// Trade In Section

.tradeIn {
    margin: 56px 0;

    .row {
        border-radius: 24px;
    }

    &__gif {
        img {
            object-fit: contain;
        }
    }

    &__content {
        &--text {
            color: $greyText;
            padding-top: 24px;
            padding-bottom: 36px;
        }

        a {
            color: #fff;
            border-radius: 8px;
            background-color: $mainYellow;

            &:hover {
                color: #fff;
                opacity: .9;
            }
        }
    }
}

// Categories Section

.categories {
    margin-bottom: 56px;

    .row {
        gap: 28px;
    }

    &__item {
        width: 185px;
        text-decoration: none;
        
        &--img-wrapper {
            width: 184px;
            height: 184px;
            border-radius: 50%;
            background-color: #fff;
            transition: .2s ease-in-out;

            img {
                width: 124px;
                height: 124px;
            }
        }

        &--text {
            span {
                font-size: 13px !important;
            }
        }

        &:hover {
            .categories__item--img-wrapper {
                background-color: $mainYellow;
            }
        }
    }
}