@media only screen and (max-width: $xs) {
    .main_section {
        height: auto;
    }
} 

@media only screen and (min-width: $sm) {
    .main_section {
        height: auto;
    }
}

@media only screen and (min-width: $md) {
    .main_section {
        height: 600px;
    }
}

@media only screen and (min-width: $lg) {
    .main_section {
        height: 600px;
    }
}

@media only screen and (min-width: $xl) {
    .main_section {
        height: 600px;
    }
}

@media only screen and (min-width: $xxl) {
    .main_section {
        height: 600px;
    }
}


.main_wrapper {
    background-color: #f1f3f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.catalog {
    height: 58px;
    margin-top: 2px;

    &__button {
        padding: 10px 8px;
    }

    &__text {
        color: #a4aec1;
        font-size: 14px;
    }

    &__swiper {
        height: 58px;

        a {
            font-size: 12px;
            color: $blackText;
            text-decoration: none;
        }

        div {
            margin-right: 36px;
        }
    }

    &__sales_btn {
        color: #ff3b30;
        background-color: #ffe9e8;
        position: relative;
        border-radius: 32px;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgba(223,166,166,.8);
            color: #ff3b30;
        }
    }

    &__sales_btn_text {
        span {
            font-size: 12px;
        }
    }
}

// Main Section

.main_section {
    

    &__filter {
        width: 300px;
        height: 600px;
        padding: 30px 0 12px;
        background-color: #fff;
        border-radius: 16px;
        position: absolute;
        z-index: 100;

        li {
            margin: 0 20px 14px 28px;
        }

        &--icon {
            margin-right: 10px;
        }
    }
}