@media only screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }
  .px_md_0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    padding: 0 15px;
    max-width: 100%;
  }
  .px_md_0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 100%;
  }
  .px_md_0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
    max-width: 100%;
  }
  .px_md_0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    max-width: 1200px;
  }
  .px_md_0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1272px;
  }
  .px_md_0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

section {
  width: 100%;
}

.sm-svg {
  width: 14px;
  height: 14px;
}

.md-svg {
  width: 16;
  height: 16px;
}

.svg-hover:hover {
  background-color: #f1f3f6;
}

.divider {
  width: 1px;
  height: 12px;
  border-radius: 2px;
  background-color: rgba(137, 150, 174, 0.2);
}

.text_uppercase {
  text-transform: uppercase;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
}

.btn {
  border: 0;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  padding: 12px 28px;
}

.flex_sh_gr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.flex-gap {
  gap: 12px;
}

.text-dark {
  color: #272a37 !important;
}

[class*=" col-"], [class^="col-"] {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.fixed {
  width: 0;
}

.feedback {
  background-color: #fec900;
  color: #fff;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: ltr !important;
  width: 40px;
  height: 110px;
  right: 0;
  top: 300px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 12px 14px 12px 12px;
  font-size: 13px;
  cursor: pointer;
}

.feedback-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.feedback-iamge {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 576px) {
  .header__search_side_content {
    max-width: 300px;
    height: 48px;
  }
  .header__logo {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header__logo img {
    width: 36px;
  }
  .header__search_input {
    padding-right: 36px;
  }
  .header__search_submit {
    right: 4px;
  }
  .header__img_upload {
    right: 37px;
  }
  .header__img_upload::after {
    display: none;
  }
  .header__burger {
    padding: 18px 8px;
  }
}

@media only screen and (min-width: 576px) {
  .header__search_side_content {
    max-width: 300px;
    height: 48px;
  }
  .header__logo {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header__logo img {
    width: 36px;
  }
  .header__search_input {
    padding-right: 36px;
  }
  .header__search_submit {
    right: 4px;
  }
  .header__img_upload {
    right: 37px;
  }
  .header__img_upload::after {
    display: none;
  }
  .header__burger {
    padding: 18px 8px;
  }
}

@media only screen and (min-width: 768px) {
  .header__search_side_content {
    max-width: 300px;
    height: 48px;
  }
  .header__logo {
    padding-left: 22px;
    padding-right: 13px;
  }
  .header__logo img {
    width: 42px;
  }
  .header__search_input {
    padding-right: 100px;
  }
  .header__search_submit {
    right: 12px;
  }
  .header__img_upload {
    right: 62px;
  }
  .header__img_upload::after {
    display: block;
  }
  .header__burger {
    padding: 10px 8px;
  }
}

@media only screen and (min-width: 992px) {
  .header__search_side_content {
    max-width: 400px;
    height: 64px;
  }
  .header__logo {
    padding-left: 22px;
    padding-right: 13px;
  }
  .header__logo img {
    width: 42px;
  }
  .header__search_input {
    padding-right: 100px;
  }
  .header__search_submit {
    right: 12px;
  }
  .header__img_upload {
    right: 62px;
  }
  .header__img_upload::after {
    display: block;
  }
  .header__burger {
    padding: 10px 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__search_side_content {
    max-width: 450px;
    height: 64px;
  }
  .header__logo {
    padding-left: 22px;
    padding-right: 13px;
  }
  .header__logo img {
    width: 42px;
  }
  .header__search_input {
    padding-right: 100px;
  }
  .header__search_submit {
    right: 12px;
  }
  .header__img_upload {
    right: 62px;
  }
  .header__img_upload::after {
    display: block;
  }
  .header__burger {
    padding: 10px 8px;
  }
}

@media only screen and (min-width: 1400px) {
  .header__search_side_content {
    max-width: 732px;
    height: 64px;
  }
  .header__logo {
    padding-left: 22px;
    padding-right: 13px;
  }
  .header__logo img {
    width: 42px;
  }
  .header__search_input {
    padding-right: 100px;
  }
  .header__search_submit {
    right: 12px;
  }
  .header__img_upload {
    right: 62px;
  }
  .header__img_upload::after {
    display: block;
  }
  .header__burger {
    padding: 10px 8px;
  }
}

.header {
  height: 100px;
}

.header__search_side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.header__search_side_content {
  position: relative;
  padding: 4px;
  border-radius: 32px;
  background-color: #fec900;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header__logo img {
  height: 20px;
}

.header__search_wrapper {
  border-radius: 28px;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__search_input {
  font-size: 12px;
  border-radius: 28px;
  outline: none;
  border: 0;
  text-indent: 10px;
}

.header__search_submit {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__img_upload {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__img_upload img {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.header__img_upload::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 24px;
  border-radius: 2px;
  background-color: rgba(137, 150, 174, 0.25);
}

.header__add_statement_btn {
  border-radius: 20px;
  border: 2px solid #f1f3f6;
  height: 40px;
  padding: 0 16px 0 12px;
  max-width: 116px;
  line-height: 17px;
  background-color: transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header__add_statement_btn span {
  font-size: 12px;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
}

.header__add_statement_btn:hover {
  border: 2px solid #fec900;
}

.header__navbar_item a {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__user_profile_svg {
  width: 40px;
  height: 40px;
  border: 2px solid #fec900;
  cursor: pointer;
}

.header__user_profile_text span {
  font-size: 13px;
  color: #272a37;
  cursor: pointer;
}

.header__burger {
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__burger img {
  width: 16px;
  height: 12px;
}

@media only screen and (max-width: 576px) {
  .main_section {
    height: auto;
  }
  .main_section__filter_data {
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .main_section__slider_box {
    padding: 0;
  }
  .main_section__slider_box a {
    width: 100%;
  }
  .search_more__tabs {
    margin-top: 30px;
  }
  .search_more__option {
    width: 380px;
  }
  .tradeIn__gif {
    height: 150px;
    margin-bottom: 0;
  }
  .tradeIn__content {
    padding: 24px;
  }
  .tradeIn__content h2 {
    font-size: 18px;
  }
  .tradeIn__content a {
    width: 100%;
  }
  .categories__item {
    width: 175px;
  }
  .sales__block {
    width: 400px;
  }
}

@media only screen and (min-width: 576px) {
  .main_section {
    height: auto;
  }
  .main_section__filter_data {
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .main_section__slider_box {
    padding: 0;
  }
  .main_section__slider_box a {
    width: 100%;
  }
  .search_more__tabs {
    margin-top: 30px;
  }
  .search_more__option {
    width: 400px;
  }
  .tradeIn__gif {
    height: 150px;
    margin-bottom: 20px;
  }
  .tradeIn__content {
    padding: 30px 24px;
  }
  .tradeIn__content h2 {
    font-size: 18px;
  }
  .tradeIn__content a {
    width: 100%;
  }
  .categories__item {
    width: 175px;
  }
  .sales__block {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .main_section {
    height: 600px;
  }
  .main_section__filter_data {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  .main_section__slider_box {
    padding: 32px 20px;
  }
  .main_section__slider_box a {
    width: 185px;
  }
  .search_more__tabs {
    margin-top: 0;
  }
  .search_more__option {
    width: 500px;
  }
  .tradeIn__gif {
    height: 320px;
  }
  .tradeIn__content {
    padding: 0 24px 0 24px;
  }
  .tradeIn__content h2 {
    font-size: 24px;
  }
  .tradeIn__content a {
    width: 128px;
  }
  .categories__item {
    width: 175px;
  }
  .sales__block {
    width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .main_section {
    height: 600px;
  }
  .main_section__filter_data {
    background-color: #fff;
    width: calc(100% - 324px);
    height: 100%;
    padding: 40px;
  }
  .main_section__slider_box {
    padding: 32px 40px;
  }
  .main_section__slider_box a {
    width: 185px;
  }
  .search_more__tabs {
    margin-top: 0;
  }
  .search_more__option {
    width: 380px;
  }
  .tradeIn__gif {
    height: 320px;
  }
  .tradeIn__content {
    padding: 0 24px 0 24px;
  }
  .tradeIn__content h2 {
    font-size: 24px;
  }
  .tradeIn__content a {
    width: 128px;
  }
  .categories__item {
    width: 175px;
  }
  .sales__block {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .main_section {
    height: 600px;
  }
  .main_section__filter_data {
    background-color: #fff;
    width: calc(100% - 324px);
    height: 100%;
    padding: 40px;
  }
  .main_section__slider_box {
    padding: 32px 30px;
  }
  .main_section__slider_box a {
    width: 170px;
  }
  .search_more__tabs {
    margin-top: 0;
  }
  .search_more__option {
    width: 380px;
  }
  .tradeIn__gif {
    height: 320px;
  }
  .tradeIn__content {
    padding: 0 24px 0 24px;
  }
  .tradeIn__content h2 {
    font-size: 24px;
  }
  .tradeIn__content a {
    width: 128px;
  }
  .categories__item {
    width: 175px;
  }
  .sales__block {
    width: 375px;
  }
}

@media only screen and (min-width: 1400px) {
  .main_section {
    height: 600px;
  }
  .main_section__filter_data {
    background-color: #fff;
    width: calc(100% - 324px);
    height: 100%;
    padding: 40px;
  }
  .main_section__slider_box {
    padding: 32px 40px;
  }
  .main_section__slider_box a {
    width: 185px;
  }
  .search_more__tabs {
    margin-top: 0;
  }
  .search_more__option {
    width: 400px;
  }
  .tradeIn__gif img {
    height: 320px;
  }
  .tradeIn__content {
    padding: 0 80px 0 88px;
  }
  .tradeIn__content h2 {
    font-size: 24px;
  }
  .tradeIn__content a {
    width: 128px;
  }
  .categories__item {
    width: 185px;
  }
  .sales__block {
    width: 400px;
  }
}

.main_wrapper {
  background-color: #f1f3f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.catalog {
  height: 58px;
  margin-top: 2px;
}

.catalog__button {
  padding: 10px 8px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.catalog__text {
  color: #a4aec1;
  font-size: 14px;
}

.catalog__swiper {
  height: 58px;
}

.catalog__swiper a {
  font-size: 12px;
  color: #272a37;
  text-decoration: none;
}

.catalog__swiper div {
  margin-right: 36px;
}

.catalog__sales_btn {
  color: #ff3b30;
  background-color: #ffe9e8;
  position: relative;
  border-radius: 32px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.catalog__sales_btn:hover {
  background-color: rgba(223, 166, 166, 0.8);
  color: #ff3b30;
}

.catalog__sales_btn_text span {
  font-size: 12px;
}

.main_section__filter {
  width: 300px;
  height: 600px;
  padding: 30px 0 12px;
  background-color: #fff;
  border-radius: 16px;
  position: absolute;
  z-index: 100;
}

.main_section__filter li {
  margin: 0 20px 14px 28px;
}

.main_section__filter--item a {
  color: #272a37;
  text-decoration: none;
}

.main_section__filter--item a :hover {
  color: #4a6cfa;
  text-decoration: underline;
}

.main_section__filter--item a :hover svg {
  fill: #272a37;
}

.main_section__filter--item button {
  padding: 0;
  margin: 12px 0 0 0;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.main_section__filter--icon {
  margin-right: 10px;
}

.main_section__filter--text span {
  font-size: 14px;
  cursor: pointer;
  line-height: 16px;
}

.main_section__slider {
  border-radius: 16px;
}

.main_section__slider a img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main_section__filter_data {
  border-radius: 16px;
}

.main_section__slider_box {
  background-color: #f1f3f6;
  border-radius: 14px;
}

.main_section__slider_box a {
  border-radius: 8px;
  min-height: 96px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  min-width: 170px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main_section__slider_box a h2 {
  color: #272a37;
  font-size: 12px;
  margin-top: 10px;
}

.main_section__slider_box a:hover {
  background-color: #e6e6e6 !important;
}

.search_more {
  margin-top: 56px;
}

.search_more h2 {
  font-size: 18px;
}

.search_more__tabs button {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: rgba(137, 150, 174, 0.1);
}

.search_more__tabs button:hover {
  background-color: #fff;
  opacity: .65;
}

.search_more__tabs--active {
  background-color: #fff !important;
  margin-right: 8px;
}

.search_more .flex-gap {
  gap: 20px;
  padding-top: 28px;
}

.search_more__option {
  cursor: pointer;
  border-radius: 16px;
  padding: 21px;
}

.search_more__option--text {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
  white-space: nowrap;
}

.search_more__option button {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.search_more__option button:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tradeIn {
  margin: 56px 0;
}

.tradeIn .row {
  border-radius: 24px;
}

.tradeIn__gif img {
  -o-object-fit: contain;
     object-fit: contain;
}

.tradeIn__content--text {
  color: #8996ae;
  padding-top: 24px;
  padding-bottom: 36px;
}

.tradeIn__content a {
  color: #fff;
  border-radius: 8px;
  background-color: #fec900;
}

.tradeIn__content a:hover {
  color: #fff;
  opacity: .9;
}

.vip_products {
  margin-bottom: 56px;
}

.vip_products__wrapper {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px 32px;
}

.vip_products__wrapper--vip_icon {
  border-radius: 11px;
  padding: 0 7px;
  height: 22px;
  background-color: #fec900;
  font-size: 10px;
  font-weight: bold;
}

.vip_products__wrapper_header a {
  font-size: 13px;
  color: #4a6cfa !important;
  text-decoration: underline;
}

.vip_products__wrapper_content {
  gap: 24px;
}

.vip_products__wrapper_item a {
  text-decoration: none;
  width: 125px;
  overflow: hidden;
  display: inherit;
}

.vip_products__wrapper_item a:hover div:first-child {
  color: #4a6cfa !important;
  text-decoration: underline;
}

.vip_products__wrapper_item a:hover div:last-child {
  color: #4a6cfa !important;
}

.vip_products__wrapper_item--img {
  border-radius: 10px;
  width: 125px;
  height: 130px;
  margin-bottom: 18px;
}

.vip_products__wrapper_item--img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.vip_products__wrapper_item--info div:first-child {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.vip_products__wrapper_item--info div:last-child {
  font-size: 12px;
  color: #8996ae;
}

.vip_products__wrapper_item--info .lari {
  display: inline-block;
  font-family: Lari !important;
  font-size: inherit;
  font-stretch: normal;
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.categories {
  margin-bottom: 56px;
}

.categories .row {
  gap: 28px;
}

.categories__item {
  text-decoration: none;
}

.categories__item--img-wrapper {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.categories__item--img-wrapper img {
  width: 124px;
  height: 124px;
}

.categories__item--text span {
  font-size: 13px !important;
}

.categories__item:hover .categories__item--img-wrapper {
  background-color: #fec900;
}

.sales {
  margin-bottom: 56px;
}

.sales__header h2 {
  font-size: 18px;
}

.sales__content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.sales__block_images {
  border-radius: 16px;
  padding: 12px;
}

.sales__block_images > * {
  padding: 12px;
}

.sales__block_images--image {
  height: 120px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  cursor: pointer;
}

.sales__block_images--image .sales_hover {
  position: absolute;
  background-color: rgba(39, 42, 55, 0.95);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.sales__block_images--image .sales_hover div:first-child {
  line-height: 21px;
  color: #0ec604;
}

.sales__block_images--image .sales_hover div:last-child {
  position: relative;
  font-size: 12px;
  line-height: 21px;
  color: #0ec604;
}

.sales__block_images--image .sales_hover div:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.sales__block_images--image:hover .sales_hover {
  opacity: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.sales__sm_card {
  border-radius: 10px;
}

.sales__sm_card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.sales__block_info {
  margin-top: 20px;
}

.sales__block_info > div {
  margin-bottom: 12px;
}

.sales__block_info--green {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  padding: 4px 7px;
  border-radius: 11px;
  background-color: #0ec604;
}

.sales__block_info a {
  font-size: 13px;
  line-height: 21px;
  color: #4a6cfa !important;
}

@media only screen and (max-width: 576px) {
  .scroll_up {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) {
  .scroll_up {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .scroll_up {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .scroll_up {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .scroll_up {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1400px) {
  .scroll_up {
    margin-bottom: 40px;
  }
}

.scroll_up {
  background-color: #fec900;
}

.footer-hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_top {
  margin-top: 40px;
}

.footer_top li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer_top__top_categories {
  padding-bottom: 20px;
}

.footer_top__top_categories h6 {
  font-size: 12px;
  font-weight: bold;
}

.footer_top__top_categories_columns a {
  color: #8996ae !important;
  font-size: 12px;
  text-decoration: none;
}

.footer_top__top_categories_columns a:hover {
  color: #325afa !important;
  text-decoration: underline !important;
}

.footer_top__menu {
  padding-bottom: 20px;
}

.footer_top__menu h6 {
  font-size: 12px;
  font-weight: bold;
}

.footer_top__menu_columns a {
  color: #8996ae !important;
  font-size: 12px;
  text-decoration: none;
}

.footer_top__menu_columns a:hover {
  color: #325afa !important;
  text-decoration: underline !important;
}

.footer_top__my_page {
  padding-bottom: 20px;
}

.footer_top__my_page h6 {
  font-size: 12px;
  font-weight: bold;
}

.footer_top__my_page_columns a {
  color: #8996ae !important;
  font-size: 12px;
  text-decoration: none;
}

.footer_top__my_page_columns a:hover {
  color: #325afa !important;
  text-decoration: underline !important;
}

.footer_top__company h6 {
  font-size: 12px;
  font-weight: bold;
}

.footer_top__company--social {
  padding-bottom: 20px !important;
}

.footer_top__company--social a {
  padding: 10px;
  text-decoration: none;
  background-color: #f1f3f6;
}

.footer_top__company--social a:hover {
  background-color: #d2d8e2 !important;
}

.footer_top__company--social .insta {
  margin: 0 10px;
}

.footer_top__company--languages {
  padding-bottom: 20px !important;
}

.footer_top__company--languages a {
  padding: 10px;
  text-decoration: none;
}

.footer_top__company--languages .non-active {
  background-color: #f1f3f6;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer_top__company--languages .non-active:hover {
  background-color: #d2d8e2 !important;
}

.footer_top__company--languages .active {
  background-color: #272a37;
}

.footer_top__company--languages .eng {
  margin: 0 10px;
}

.footer_top__app {
  padding-bottom: 20px;
}

.footer_top__app--title {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 12px;
}

.footer_top__app_links div:nth-child(2) {
  margin-left: 13px;
}

.footer_top__app_links div img {
  width: 82px;
  height: 28px;
}

.footer_bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer_bottom__item {
  padding: 9px 18px;
  border: 2px solid #cad7e5;
  position: relative;
  border-radius: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}

.footer_bottom__item img {
  display: none;
  position: absolute;
  top: 6px;
  width: 30px;
  height: 14px;
}

.footer_bottom__item span {
  background-color: #fff;
  color: #8996ae;
  font-size: 12px;
  font-weight: bold;
}

.footer_bottom__item--active {
  position: relative;
  border-radius: 24px;
  text-decoration: none;
  border: 2px solid #fec900;
  background-color: #fec900;
  padding: 9px 4px 12px 18px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer_bottom__item--active img {
  display: block;
  position: absolute;
  top: 15px;
  width: 30px;
  height: 14px;
}

.footer_bottom__item--active span {
  margin-left: 44px;
  background-color: #fff;
  color: #454b57;
  padding: 10px;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
}

.footer_bottom__item:hover {
  position: relative;
  border-radius: 24px;
  text-decoration: none;
  padding: 9px 4px 12px 18px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border: 2px solid #ff8600;
  background-color: #ff8600;
}

.footer_bottom__item:hover img {
  display: block;
  position: absolute;
  top: 15px;
  width: 30px;
  height: 14px;
}

.footer_bottom__item:hover span {
  margin-left: 44px;
  background-color: #fff;
  color: #454b57;
  padding: 10px;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
}

@font-face {
  font-family: Helvatic-neue;
  src: url("helvetica-neue-lt.woff2") format("woff2");
}

body, div, p, span {
  font-family: Helvatic-neue;
}
/*# sourceMappingURL=styles.css.map */